<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.traveling">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".developer.zhiming.li.ui.SplashActivity"
            android:theme="@style/NoActionBarFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 引导页 -->
        <activity
            android:name=".developer.zhiming.li.ui.GuideActivity"
            android:theme="@style/NoActionBarFullscreen" />

        <!-- 游记/攻略引导页 -->
        <activity
            android:name=".developer.yu.hu.ui.NewsActivity"
            android:label="眉山一日游" />

        <!-- 聊天消息页 -->
        <activity android:name=".developer.jiaming.liu.activity.ChatActivity" />
        <!-- 编辑文本页 -->
        <activity
            android:name=".developer.jiaming.liu.activity.AddNoteActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".developer.jiaming.liu.activity.NoticeActivity" />
        <activity android:name=".developer.jiaming.liu.activity.ChatMoreActivity"/>

        <activity android:name=".developer.ting.li.ui.FriendsNewsActivity"
            />

        <!--登录-->
        <activity
            android:name=".developer.zhiming.li.ui.LoginActivity"
            android:theme="@style/NoActionBarFullscreen" />

        <!--服务条款-->
        <activity
            android:name=".developer.zhiming.li.ui.ServiceTermsActivity"
            android:label="服务条款" />

        <!--注册-->
        <activity android:name=".developer.zhiming.li.ui.RegisterActivity"
            android:label="注册"/>

        <!--忘记密码-->
        <activity android:name=".developer.zhiming.li.ui.ForgetPassActivity"
            android:label="忘记密码"/>

        <!--编辑个人资料-->
        <activity android:name=".developer.zhiming.li.ui.UserEditActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="设置个人信息"/>


    </application>

</manifest>